.myClass{
    text-align: center;
    background: crimson;
    width: 400px;
    height: 300px;
    margin: 0 auto;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 4px dotted blue;
  }