.sec {
    background-color: rgb(85, 12, 27);
    margin: 1rem;
    border-radius: 5px;
}
.sec img {
    width: 100%;
}
.sec h2,
p {
    padding-left: 1rem;
   color:  #fce0d3;
}
button {
    margin: 0.3rem 0.8rem;
    padding: 0.4rem;
    background-color: crimson;
}