form {
    background-color: crimson;
    color: white;
    line-height: 2rem;
    width: 100vw;
    display: table;
}
p {
    display: table-row;
}
label {
    padding: 1rem;
    display: table-cell;
    width: 140px;
}
input {
    display: table-cell;
    padding: 0.4rem;
    border-radius: 5px;
}
