header,
footer {
  background-color: #69013b;
  color: #fce0d3;
  padding: 2rem;
  text-align: center;
}

main {
  min-height: 65vh;
  background-color: rgba(220, 20, 60, 0.527);
  color: black;
  padding-left: 1rem;
  line-height: 4rem;
}
main p {
  color: black;
}
input {
  margin: 1rem;
  padding: 0.4rem;
  border-radius: 5px;
}
